#app {
    padding-top: 25px;
    max-width: 1000px;   
    width: 85%;
    margin: auto;
}

.pagescroll {
    width: 100%;
    margin-top: 50px;
    margin: 50px auto auto;
    overflow-y: auto;
    // The height is calulated to be the full height of the device's screen, minus 50px to compensate for the nav bar at the top.
    height: calc(100vh - 50px);
}